extends layout

block content 
    h1= title2
    div.center        
      button#emotional.selected Emotional
      button#language Language
      button#social Social
      div#emotional-graph
        div.border
        div.anger(style={width: anger*(1000/10)+'%'})
          p= "Anger: "+(anger * (1000/10)).toFixed(2) + '%'
        div.disgust(style={width: disgust*(1000/10)+'%'})
          p= "Disgust: "+(disgust * (1000/10)).toFixed(2) + '%'
        div.fear(style={width: fear*(1000/10)+'%'})
          p= "Fear: "+(fear * (1000/10)).toFixed(2) + '%'
        div.joy(style={width: joy*(1000/10)+'%'})
          p= "Joy: "+(joy * (1000/10)).toFixed(2) + '%'
        div.sadness(style={width: sadness*(1000/10)+'%'})
          p= "Sadness: "+(sadness * (1000/10)).toFixed(2) + '%'
      div#lang-graph.hide
        div.border
        div.analytical(style={width: analytical*(1000/10)+'%'})
          p= "Analytical: "+(analytical * (1000/10)).toFixed(2) + '%'
        div.confident(style={width: confident*(1000/10)+'%'})
          p= "Confident: "+(confident * (1000/10)).toFixed(2) + '%'
        div.tentative(style={width: tentative*(1000/10)+'%'})
          p= "Tentative: "+(tentative * (1000/10)).toFixed(2) + '%'
      div#social-graph.hide
        div.border
        div.openness(style={width: openness*(1000/10)+'%'})
          p= "Openness: "+(openness * (1000/10)).toFixed(2) + '%'
        div.conscientiousness(style={width: conscientiousness*(1000/10)+'%'})
          p= "Conscientiousness: "+(conscientiousness * (1000/10)).toFixed(2) + '%'
        div.extraversion(style={width: extraversion*(1000/10)+'%'})
          p= "Extraversion: "+(extraversion * (1000/10)).toFixed(2) + '%'
        div.agreeableness(style={width: agreeableness*(1000/10)+'%'})
          p= "Agreeableness: "+(agreeableness * (1000/10)).toFixed(2) + '%'
        div.emotion_range(style={width: emotion_range*(1000/10)+'%'})
          p= "Emotion Rang: "+(emotion_range * (1000/10)).toFixed(2) + '%'
      div.border
      form(method='get' action='/')
        div.form-group
          input#search_again.form-control(type='submit', value='Search Another')        
    script(src='/javascripts/scripts.js')    
